/* @import url('https://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans');
 */

 /* TO FIX: THE SHIFTING OF THE DIV WHEN THE BUTTON IS CLICKED AND TXT APPEARS; dont like the moving of the button when the border dissapears */

/* set repeating variables */
:root {
    --dark: cornflowerblue;
    --edge: rgb(46, 8, 90);
    --light: white;
    --write: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* general style for page */
body {
    background-color: var(--dark);
    font-family: var(--write);
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.count-down {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    width: 70%;
}
/* style the "start" button */
#start-button {
    font-family: var(--write);
    background-color: var(--light);
    color: var(--dark);
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px 18px;
    border-radius: 20px;
    border: 2px solid var(--edge);
}
/* use pseudo classes to add style to the "start" button */
#start-button:hover {
    border: none;
}
#start-button:active {
    border: 2px solid var(--edge);
}
/* style div containing mult choice questions */
.quiz {
    background-color: var(--light);
    color: var(--dark);
    padding: 40px;
    border-radius: 20px;
    width: 70%;
}